<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="Archive to archive.is"
        android:theme="@style/Theme.Archiver">

        <activity
            android:name=".ShareActivity"
            android:exported="true"
            android:theme="@style/Theme.Archiver.Transparent"
            android:excludeFromRecents="true"
            android:noHistory="true">

            <!-- Share target: receives URLs shared from other apps -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>

    </application>

</manifest>
